<div class="popup">
  <div class="popup-content">
    <button class="close-icon" (click)="onClose()">X</button>
    <div>
      <h4>Upload Section</h4>
      <div id="fileSelector">
        <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
      </div>
      <div>
        <div class="uploadList" *ngFor="let item of uploader.queue">
          <div class="file-name">{{item.file.name}}</div>
          <div class="buttons">
            <button type="button" class="upload-button" (click)="onUpload()">Upload</button>
            <button type="button" class="cancel-button" (click)="item.remove()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
