<div class="my-3 svc container-fluid">
    <h3 class="name fw-bold">{{service.name}}</h3>
    <div *ngIf="service.status; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        <h5 class="bg-success bg-gradient text-white">Running</h5>
        <button class="btn bg-danger text-white" (click)="onStop()">Stop</button>
    </ng-template>
    <ng-template #elseBlock>
        <h5 class="bg-danger bg-gradient text-white">Stopped</h5>
        <button class="btn bg-success text-white" (click)="onStart()">Start</button>
    </ng-template>
    <a class="btn bg-white text-blue" (click)="onUploadCode()" id="code">Upload Source Code</a>
    <a class="btn" (click)="onDownloadConfig()" id="config">Download Config File</a>
    <a class="btn" (click)="onUploadConfig()" id="config">Upload Config File</a>
</div>